.footer {
    background-color: #185A91;
    color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    height: 300px;
    width: 90%;
    border-bottom: 0.1px solid white;
  }
  
  .footer-left {
    
  }
  
  .footer-logo {
    height: 45px;
  }
  
  .footer-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-tagline {
    font-size: 20px;
    font-weight: Medium;
  }
  
  .footer-pline {
    font-size: 18px;
    font-weight: Regular;
    color: #D0C9C9;
  }
  .footer-subscribe {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .footer-subscribe input {
    background-color: transparent;
    border: 1px solid white;
    height: 49px;
    width: 60%;
    border-radius: 30px ;
    padding-left: 30px;
  }

  .footer-subscribe input::placeholder {
    color: #C2BFBF;
  }
  
  .footer-subscribe button {
    background-color: transparent;
    border: 1px solid white;
    height: 49px;
    width: 50px;
    border-radius: 60px;
    color: white;
  }
  
  .footer-right {
    display: flex;
    justify-content: space-between;
    width: 25%;
  }
  
  .footer-links-column-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .footer-links-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer-links-column p {
    color: #C2BFBF;
  }
  .footer-address {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .footer-links-column a {
  }
  
  .footer-links-column a:hover {
    color: white;
  }
  
  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 50px;
  }
  
  .footer-social-links {
    width: 25%;
    display: flex;
    justify-content: space-between;
  }

  .footer-social-links a {
  }
  
  .footer-social-links a:hover {
    color: white;
  }
  .epique {
    color: #D0C9C9;
  }