.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar-logo {
  height: 49px;
}

.right-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links {
  display: flex;
  gap: 0.5rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #a0d4ff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: bottom right;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.nav-link.active {
  color: #a0d4ff;
}

.nav-actions-link {
  text-decoration: none;
  color: inherit;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: white;
  border-radius: 34.5px;
  padding: 10px 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.nav-actions:hover {
  transform: scale(1.05);
}

.nav-actions p {
  color: #333;
  font-weight: 500;
}

.nav-actions img {
  width: 47px;
}