/* src/App.css */
/* --- REGULAR --- */
@font-face {
  font-family: 'Neue Montreal';
  src: url('../public/assets/fonts/neuemontreal-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../public/assets/fonts/neuemontreal-italic-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

/* --- LIGHT --- */
@font-face {
  font-family: 'Neue Montreal';
  src: url('../public/assets/fonts/neuemontreal-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../public/assets/fonts/neuemontreal-lightitalic-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

/* --- MEDIUM --- */
@font-face {
  font-family: 'Neue Montreal';
  src: url('../public/assets/fonts/neuemontreal-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../public/assets/fonts/neuemontreal-mediumitalic-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

/* --- BOLD --- */
@font-face {
  font-family: 'Neue Montreal';
  src: url('../public/assets/fonts/neuemontreal-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../public/assets/fonts/neuemontreal-bolditalic-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Neue Montreal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #333;
}

/* You can add a link to Google Fonts in your public/index.html for 'Inter' if you like */
/* <link rel="preconnect" href="https://fonts.googleapis.com"> */
/* <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> */
/* <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"> */

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}